@import './electric-menu.css';
@import './spotlight-grid.css';
@import './tom-select-custom.css';

/* Import file font Archive dari dalam folder resources */
@font-face {
    font-family: 'Archive';
    src: url('./fonts/Archive.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }